<h1 class="page-header">Sinh mã QR</h1>

<div class="tab-content p-3 rounded-top panel rounded-0 m-0">
  <div class="row d-flex justify-content-start flex-wrap" style="padding-bottom: 10px">
    <div class="col-4">
      <div class="d-flex justify-content-center align-items-center">
        <span>Sinh mã QR cho bàn số :</span>
        <input [(ngModel)]="tableId" class="form-control " style="max-width: 100px" type="number">
        <button (click)="genQrCode()" class="btn btn-primary ms-2">Sinh QR</button>
      </div>
    </div>
    <div class="col-8">
      <div class="d-flex justify-content-center align-items-center">
        <img *ngIf="urlQR" [src]="urlQR" alt="" class="qrcode" />
      </div>
    </div>
  </div>
</div>
