.img-icon {
  height: 30px;
  padding-right: 5px;
}

.img {
  border-bottom: 1px solid #e9e9e9 !important;
}

.order {
  display: block;
  font-size: 12px;
  background: #212121;
  color: #fff;
  padding: 6px 4px;
  border-radius: 6px;
}

.padding-fa {
  padding: 5px;
}

.pos-table {
  max-height: 40vh;
}

.wrap-right-content {
  padding-right: 30px;
}

.pos-remove-confirmation {
  .alert {
    text-align: start;
    margin-left: 10px;
    margin-bottom: 0 !important;
  }
}

a {
  cursor: pointer;
}

form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}

input[type='search'] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 80px;
}

input[type='search']::placeholder {
  color: #bbb;
}

button[type='submit'] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type='submit']:hover {
  opacity: 1;
}

button[type='submit']:focus,
input[type='search']:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

form.nosubmit {
  border: none;
  padding: 0;
  width: 100%;
}

input.nosubmit {
  border: 1px solid #555;
  width: 100%;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.search-header {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0px !important;
}

.search-header:active {
  border-radius: 80px !important;
}

.search-header:focus {
  border-radius: 80px !important;
}

.right-content {
  width: calc(100% - 150px);
}

.nav-item {
  .nav-link {
    text-align: start;
    text-transform: capitalize;
  }
}

.pos-content {
  height: 90vh;
}

.area {
  background: rgb(245, 160, 3);
  box-shadow: none;
  border-radius: 0;
  padding-top: 12px;
}

.discount-order {
  color: rgb(11, 212, 11);
}

.pos-stock-product-container {
  background: var(--app-component-bg);
  height: 100%;
  overflow: hidden;
  border-radius: 8px;

  .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.wrap-delete-icon {
  width: 25px;
  height: 25px;
  border: 1px solid #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &:hover {
    background-color: #cacaca;
  }

  .delete-product {
    font-size: 16px;
    color: red;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.vat-rate {
  border: 1px solid rgba(19, 166, 224, 0.918);
  border-radius: 3px;
  padding: 1px 3px;
  font-size: 0.75rem !important;
  color: #949494;
}

.discount-amount {
  color: rgb(20, 216, 20);
  font-size: 0.8rem !important;
}

.vat-amount {
  font-size: 0.8rem !important;
}

.vat-rate-color {
  color: var(--bs-orange);
}

input[type='radio'] {
  height: 20px;
  width: 20px;
}

.fa-solid {
  color: var(--app-theme);
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.img-icon {
  background-size: 100px !important;
}

.product-container {
  padding: 0.5rem !important;
}

.product-row {
  margin: 0 !important;
  padding-right: 15px !important;
  background-color: #ebebeb;
}

.pos-sidebar-nav {
  padding: 0 !important;
}

.price {
  font-size: 0.9rem !important;
  color: rgb(255, 136, 0) !important;
  text-align: center;
}

.unit-inventory-count {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem !important;
  color: var(--bs-primary);
  margin-top: 10px;
}

.quantity {
  border: 1px solid rgba(15, 214, 228, 0.801);
  border-radius: 5px;
  padding: 0 5px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  width: 100px;
  margin: 5px 0;

  i {
    color: var(--bs-orange);
  }

  .form-control {
    height: 22px !important;
    border: none;
    text-align: center;
  }
}

input[type='radio'] {
  background-color: var(--bs-orange);
}

input[type='radio']:checked {
  background-color: var(--bs-orange);
  /* Change background color when checked */
}

.input-group-item {
  cursor: pointer;
}

.wrap-customer-delivery {
  padding: 10px;
}

.pos-menu {
  .nav-link {
    &.active {
      background-color: rgba(255, 166, 0, 0.822) !important;
      border: none !important;
    }
  }

  .nav-item:hover {
    border-radius: 8px;
    border: 2px solid rgba(255, 166, 0, 0.822);
  }
}

.pos-customer .pos-sidebar .pos-sidebar-body {
  overflow-y: auto !important;
  margin-top: 10px;
  border-top: 1px solid #e9e9e9;
}

.pos-customer .pos-content .product-row {
  background-color: #ebebeb;
  padding: 0.5rem !important;
}

.pos-stock-product {
  height: 100%;
  padding: 0.6rem;

  &.add-product {
    min-height: 270px;
  }
}

.product-info {
  background-color: #f8f8f8;
  padding: 1rem;
  flex: 1;
}

.title {
  font-size: 1rem;
  font-weight: 500;
}

.product-info .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product .product-info .collapse-text {
  color: rgba(var(--app-component-color-rgb), 0.5);
  // margin-bottom: 1rem;
}

.product .product-option {
  margin: 0 0 0.333rem;
}

.product-option .option {
  padding: 0;
  flex: 1;
  display: flex;
  align-items: center;
}

.pos-customer .pos-content .product .img {
  min-height: 130px;
}

.product-option .option .option-label {
  font-weight: 500;
  width: 90px;
  padding-right: 0.66rem;
}

.pos-customer .pos-content .product:hover {
  box-shadow: none !important;
}

.product {
  height: 100%;
}

.pos-stock-product-container:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.425);
}

.pick-table {
  color: #1183d6;
  cursor: pointer;
}

.add-product-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 30px;
  color: green;

  .background-product-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid green;
  }
}

.add-product {
  text-align: center;
  color: green;
  font-size: 1.3rem;
  font-weight: 600;
}

.wrap-pos-sidebar-footer {
  padding-left: 0;
  padding-right: 0;
}

.pos-sidebar {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding-left: 0;
}

.add-new-order {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.wrap-product-container {
  cursor: pointer;
}

.background-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &.remove-color {
    border: 2px solid red;
    color: red;
  }

  &.add-color {
    border: 2px solid green;
    color: green;
  }
}

.pos-customer .pos-content .pos-content-container {
  padding: 0 !important;
}

.delivery-item {
  cursor: pointer !important;
}

.wrap-spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pos-table {
  padding: 10px 0 0 !important;

  .pos-table-row {
    border-radius: 10px;
    margin: 0px 10px 10px !important;
    padding: 10px !important;
  }
}

.customer-input {
  display: flex;
  justify-content: between;
  align-items: center;
  position: relative;

  .ng-select ::ng-deep .ng-arrow-wrapper {
    margin-right: 25px !important;
  }

  .icon-right-ng-select {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    width: 20px;
    color: green;
  }
}

.pos-remove-confirmation {
  border-radius: 10px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .delivery-title {
    width: 100% !important;
  }

  .delivery-type {
    width: 95% !important;
  }

  .wrap-product-container {
    width: 33.333333% !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .wrap-right-content {
    width: 61% !important;
  }

  .nav-link {
    padding: 8px !important;
  }

  .wrap-right-content {
    padding-right: 20px !important;
  }

  .pos-sidebar {
    width: 43% !important;
    padding-left: 0 !important;
  }

  .right-content {
    width: 100% !important;

    .tab-content-right {
      margin-top: 30px !important;
    }
  }

  .pos-customer .pos-menu .nav.nav-tabs {
    display: flex !important;
    overflow: auto;
    flex-wrap: nowrap !important;
  }

  .pos-customer .pos-menu {
    top: 49px !important;
    right: 43% !important;
    z-index: 1 !important;
    position: fixed !important;
    left: 0 !important;
    overflow-x: scroll !important;
    align-items: center !important;
    width: auto !important;
    padding-top: 0 !important;
    flex-direction: row !important;
  }

  .pos-stock-product {
    padding: 0.3rem;
  }

  .product-info {
    padding: 0.5rem !important;
  }

  .pos-customer .pos-content .product .img {
    min-height: 120px !important;
  }
}

@media (max-width: 991.98px) {
  .pos-customer .pos-content {
    padding-top: 0px !important;
  }

  .tab-content-right {
    margin-top: 30px !important;
  }

  .pos-customer .pos-menu {
    top: 56px !important;
    right: 48% !important;
    z-index: 1 !important;

    .nav.nav-tabs {
      overflow: auto;
    }
  }
}


* {
  box-sizing: border-box;
}

body {
  margin-top: 20px;
}

.chat-online {
  color: #34ce57
}

.chat-offline {
  color: #e4606d
}

.chat-messages {
  display: flex;
  flex-direction: column;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0
}

.chat-message-left {
  margin-right: auto
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  z-index: 1;
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa;
}

.float-right {
  float: right !important;
}

.message-overflow-container {
  overflow-y: auto;
}

.fullScreenCustom {
  position: fixed !important;
  top: 0 !important;
  z-index: 10000000 !important;
  left: 0 !important;
  width: 100% !important;
}

