<!--<div>-->
<!--  <div class="modal-header" style="padding: 2px 10px; padding-top: 10px">-->
<!--    <div class="d-flex flex-wrap col-md-11">-->
<!--      <h6 class="modal-title-detail"><img src="../../../../content/images/icon-logo.png" height="24px"-->
<!--                                          width="24px"> <span-->
<!--        class="text-uppercase" jhiTranslate="ebwebApp.baoCao.soTienGuiNganHangPopup.alert"></span></h6>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="modal-body" style="padding: 15px !important;">-->
<!--    &lt;!&ndash;                <div class="form-group row">&ndash;&gt;-->
<!--    &lt;!&ndash;                    <span class="col-sm-12 css-tool-in">Dữ liệu hiện tại khá lớn, hệ thống cần mất nhiều thời gian để xuất ra báo cáo. Vui lòng chọn lại khoảng thời gian lọc dữ liệu phù hợp!&ndash;&gt;-->
<!--    &lt;!&ndash;                    </span>&ndash;&gt;-->
<!--    &lt;!&ndash;                </div>&ndash;&gt;-->
<!--    <div class="form-group row">-->
<!--                    <span-->
<!--                      class="col-sm-12 css-tool-in">Quý khách cần thực hiện việc xem dữ liệu thông qua <b>Công cụ hỗ trợ in</b> của EasyBooks khi vẫn muốn-->
<!--                        tiếp tục-->
<!--                        xem toàn bộ dữ liệu với điều kiện đã chọn ở trên hoặc cũng có thể điều chỉnh lại điều kiện lọc dữ liệu-->
<!--                        để xem những khoảng dữ liệu nhỏ hơn ngay tại phần mềm!</span>-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--      <span class="col-sm-12 css-tool-in"><b><i>Lưu ý:</i></b> </span>-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--                    <span class="col-sm-12 css-tool-in-red">- Nếu quý khách <b>đã cài đặt Công cụ hỗ trợ in</b>, vui lòng thực-->
<!--                        hiện các bước sau để xem dữ liệu</span>-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--      <span class="col-sm-12 css-tool-in">+ <i>Bước 1:</i> Sao chép chuỗi mã bên dưới</span>-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--                    <span class="col-sm-12 css-tool-in">+ <i>Bước 2:</i> Mở <b> Công cụ hỗ trợ in</b>, sau đó dán chuỗi mã-->
<!--                        đã sao chép vào và ấn Thực hiện</span>-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--                    <span class="col-sm-12 css-tool-in-red">- Nếu quý khách <b>chưa cài đặt Công cụ hỗ trợ in</b>, vui lòng-->
<!--                        thực hiện các bước sau để xem dữ liệu</span>-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--                    <span class="col-sm-12 css-tool-in">+ <i>Bước 1:</i> Vào Menu <b>Trợ giúp/ Công cụ hỗ trợ in</b> để tải-->
<!--                        về và-->
<!--                        cài đặt theo hướng dẫn-->
<!--                    </span>-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--                    <span class="col-sm-12 css-tool-in">+ <i>Bước 2:</i> Sao chép chuỗi mã bên dưới-->
<!--                    </span>-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--                    <span class="col-sm-12 css-tool-in">+ <i>Bước 3:</i> Dán chuỗi mã đã sao chép vào <b>Công cụ hỗ trợ-->
<!--                        in</b> và ấn Thực hiện-->
<!--                    </span>-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--      <label class="col-sm-1 col-form-label" jhiTranslate="ebwebApp.baoCao.codePrint"></label>-->
<!--      <div class="col-sm-9">-->
<!--        <input type="text" [(ngModel)]="strCodePrint" class="form-control form-control-sm"-->
<!--               name="strCodePrint" disabled>-->
<!--      </div>-->
<!--      <div class="col-sm-2" style="height: 30px !important;">-->
<!--        <button (click)="copyCodePrint()" class="btn btn-warning"><span>Sao chép mã</span></button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="modal-footer" style="padding: 5px !important;">-->
<!--    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()"-->
<!--            jhiTranslate="ebwebApp.mBDeposit.home.exit">-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
