<div class="modal-header">
  <div class="group-header">
    <h5 class="modal-title" jhiTranslate="reset.request.title3"></h5>
    <button type="button" class="btn-close" (click)="dismiss($event)">
      <span [innerHTML]="ICON_CANCEL | safeHtml"></span>
    </button>
  </div>
</div>
<div class="border-header"></div>
<div class="modal-body p-4">
  <div class="d-flex justify-content-center">
    <div class="col-md-12">
      <!-- <div class="alert alert-danger" jhiTranslate="reset.finish.messages.keymissing" *ngIf="initialized && !key">
        The reset key is missing.
      </div> -->

      <!-- <div class="d-flex justify-content-center mb-3" *ngIf="!success">
        <span class="text-body-modal" jhiTranslate="reset.finish.messages.info">Choose a new password</span>
      </div> -->

      <div class="alert alert-danger" *ngIf="error">
        <span jhiTranslate="reset.finish.messages.error"
          >Your password couldn't be reset. Remember a password request is only valid for 24 hours.</span
        >
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span jhiTranslate="reset.finish.messages.success"><strong>Your password has been reset.</strong> Please </span>
        <a class="alert-link" routerLink="/login" jhiTranslate="global.messages.info.authenticated.link">sign in</a>.
      </div>

      <!-- <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
        The password and its confirmation do not match!
      </div> -->

      <div *ngIf="!success" class="">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <div class="login-password">
              <label class="login-title" jhiTranslate="global.form.newpassword.label"></label>
              <div class="login-input">
                <input
                  [type]="passwordVisible ? 'text' : 'password'"
                  class="form-control login-input-text pe-5"
                  id="newPassword"
                  name="newPassword"
                  placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                  formControlName="newPassword"
                  data-cy="resetPassword"
                  (input)="checkMatch()"
                  maxlength="50"
                  #newPassword
                />
                <div (click)="showPassword()" class="position-absolute cursor-pointer" style="right: 10px">
                  <span *ngIf="!passwordVisible" [innerHTML]="ICON_PASSWORD_VISIBLE | safeHtml"></span>
                  <span *ngIf="passwordVisible" [innerHTML]="ICON_PASSWORD_INVISIBLE | safeHtml"></span>
                </div>
              </div>
            </div>
            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.required"
                jhiTranslate="global.messages.validate.newpassword.required"
              >
                Your password is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                jhiTranslate="global.messages.validate.newpassword.minlength"
              >
                Your password is required to be at least 4 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.newpassword.maxlength"
              >
                Your password cannot be longer than 50 characters.
              </small>
            </div>
            <!-- <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar> -->
          </div>

          <!-- <div class="mb-3">
            <label class="form-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New
              password confirmation</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
              placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
              formControlName="confirmPassword" data-cy="confirmResetPassword" />

            <div *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              ">
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                jhiTranslate="global.messages.validate.confirmpassword.required">
                Your confirmation password is required.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                jhiTranslate="global.messages.validate.confirmpassword.minlength">
                Your confirmation password is required to be at least 4 characters.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                Your confirmation password cannot be longer than 50 characters.
              </small>
            </div>
          </div> -->
          <div class="login-password">
            <label class="login-title" jhiTranslate="global.form.confirmpassword.label"></label>
            <div class="login-input">
              <input
                [type]="passwordVisible2 ? 'text' : 'password'"
                class="form-control login-input-text pe-5"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                formControlName="confirmPassword"
                (input)="checkMatch()"
                maxlength="50"
                data-cy="confirmResetPassword"
              />
              <div (click)="showPassword2()" class="position-absolute cursor-pointer" style="right: 10px">
                <span *ngIf="!passwordVisible2" [innerHTML]="ICON_PASSWORD_VISIBLE | safeHtml"></span>
                <span *ngIf="passwordVisible2" [innerHTML]="ICON_PASSWORD_INVISIBLE | safeHtml"></span>
              </div>
            </div>
            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                jhiTranslate="global.messages.validate.confirmpassword.required"
              >
                Your confirmation password is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                jhiTranslate="global.messages.validate.confirmpassword.minlength"
              >
                Your confirmation password is required to be at least 4 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.confirmpassword.maxlength"
              >
                Your confirmation password cannot be longer than 50 characters.
              </small>
            </div>
            <div *ngIf="doNotMatchShow">
              <small class="form-text text-danger" *ngIf="doNotMatchShow" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
              </small>
            </div>
          </div>

          <button
            type="submit"
            [disabled]="passwordForm.invalid || doNotMatch"
            class="btn btn-primary mt-3 col-12"
            jhiTranslate="reset.finish.form.button"
            data-cy="submit"
          >
            Validate new password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
