.list-action .my-custom-fa-solid {
  font-size: 18px;
  margin-right: 20px;
}
td {
  padding-right: 15px !important;
}

.table-custom-body .apply-icon2 {
  display: none;
}
.table-custom-body:hover .apply-icon2 {
  display: block;
}
.editing-head .apply-icon2 {
  display: block;
}
.apply {
  font-size: 18px;
  margin-right: 20px;
}
