.bg-datepicker {
  background: transparent;
  border: none;
  color: white;
  font-weight: 600;
}
.div-date-picker {
  padding: 0px 10px;
}

.label-chart {
  background: rgb(245, 160, 3) !important;
  padding: 5px 20px;
  border-radius: 5px;
}
