.panel-border-button {
  width: fit-content !important;
}

.title-info {
  color: #909090;
  font-size: 13px;
  font-weight: 500;
}
.pos-infor {
  margin: 1rem 0rem;
}
.break-word-table {
  word-wrap: break-word;
}
.disable-button {
  opacity: 0.6;
}
