<h1 class="page-header mb-0" jhiTranslate="easyPos.category.title"></h1>

<div class="group-form-custom mb-25px">
  <div class="group-item-custom">
    <label class="form-label label-search" jhiTranslate="global.info.keyword">Từ khóa</label>
    <div class="item-search input-text-custom">
      <input
        name="keyword"
        (keyup.enter)="onSearch()"
        [(ngModel)]="filterCategory.keyword"
        (ngModelChange)="onDeleteKeywordSearch()"
        class="form-control"
        type="search"
        placeholder="Tìm kiếm..."
      />
    </div>
  </div>
  <div class="form-btn-search">
    <button (click)="onSearch()" class="btn-search">
      <fa-icon icon="search"></fa-icon>
      <span jhiTranslate="global.info.search"></span>
    </button>
  </div>
</div>

<div class="panel-action">
  <ul class="nav">
    <li class="nav-action" (click)="onCreateCategory()" *jhiHasAnyAuthority="authorGroupAdd">
      <a class="nav-link nav-link-action">
        <i class="fa-solid fa-plus"></i>
        <span class="d-sm-block ms-2" jhiTranslate="easyPos.product.info.createCategory">Thêm mới</span>
      </a>
    </li>

    <li class="nav-action" (click)="onImportExcel()" *jhiHasAnyAuthority="authorGroupImportExportExcel">
      <a class="nav-link nav-link-action">
        <span [innerHTML]="ICON_IMPORT_EXCEL | safeHtml"></span>
        <span class="d-sm-block ms-2">Nhập từ excel</span>
      </a>
    </li>
    <li
      class="nav-action cursor-pointer"
      [hidden]="paramCheckAll"
      (click)="
        paramCheckAll = true;
        paramCheckAllPage = true;
        utilsService.checkAll(categories, listSelected, paramCheckAll, this.paramCheckAllPage)
      "
    >
      <a class="nav-link nav-link-action">
        <fa-icon icon="check"></fa-icon>
        <span class="d-sm-block ms-2">Chọn tất cả</span>
      </a>
    </li>
    <li
      class="nav-action cursor-pointer"
      [hidden]="!paramCheckAll"
      (click)="
        paramCheckAll = false;
        paramCheckAllPage = false;
        utilsService.checkAll(categories, listSelected, paramCheckAll, this.paramCheckAllPage)
      "
    >
      <a class="nav-link nav-link-action">
        <span class="d-flex align-items-center" [innerHTML]="ICON_CANCEL_WHITE | safeHtml"></span>
        <span class="d-sm-block ms-2">Bỏ chọn tất cả</span>
      </a>
    </li>
    <li class="nav-action" (click)="deleteMultiCategory()" *jhiHasAnyAuthority="authorGroupDELETE">
      <a class="nav-link nav-link-action" [class]="paramCheckAll || (listSelected?.length > 0 && totalItems > 0) ? '' : 'disable-button'">
        <i class="fa-solid fa-trash-can"></i>
        <span class="d-sm-block ms-2" jhiTranslate="easyPos.category.infor.deleteMultiCategory">Xóa sản phẩm</span>
      </a>
    </li>
  </ul>
  <div class="d-flex justify-content-end align-items-center">
    <div class="form-page-size">
      <label
        class="form-label label-search me-2 mb-0 text-bold"
        jhiTranslate="global.info.totalParam"
        [translateValues]="{ count: totalItems || 0 }"
      ></label>
      <div class="form-select-size" *ngIf="totalItems > 0">
        <ng-select
          [items]="sizes"
          class="select-value select-size"
          bindLabel="name"
          bindValue="id"
          placeholder="Tất cả"
          [(ngModel)]="filterCategory.size"
          (ngModelChange)="getCategory()"
        >
        </ng-select>
      </div>
    </div>
  </div>
</div>

<div class="tab-pane fade active show">
  <div class="row">
    <div class="col-xl-12">
      <div class="panel panel-inverse">
        <div class="table-responsive">
          <table class="table editing-table">
            <thead>
              <tr class="table-custom-header">
                <th>
                  <div class="custom-checkbox custom-control col-checkbox">
                    <input
                      class="custom-control-input"
                      id="checkAllForPage"
                      type="checkbox"
                      [disabled]="paramCheckAll"
                      [(ngModel)]="paramCheckAllPage"
                      (change)="utilsService.checkAllForPage(categories, listSelected, paramCheckAllPage)"
                    /><label class="custom-control-label" for="checkAllForPage"></label>
                  </div>
                </th>
                <th jhiTranslate="easyPos.product.info.stt"></th>
                <th jhiTranslate="easyPos.product.info.categoryName"></th>
                <th>Số lượng sản phẩm</th>
                <th jhiTranslate="easyPos.product.info.desc"></th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="totalItems > 0">
              <ng-container *ngFor="let category of categories; index as i">
                <tr class="table-custom-body" (dblclick)="onCategoryUpdate(category)">
                  <td>
                    <div class="custom-checkbox custom-contro col-checkbox">
                      <input
                        class="custom-control-input"
                        id="exampleCustomCheckbox{{ i }}"
                        name="exampleCustomCheckbox{{ i }}"
                        type="checkbox"
                        [(ngModel)]="category.check"
                        (click)="getItem(category); utilsService.check(category, listSelected, paramCheckAll, selectedItem)"
                      /><label class="custom-control-label" for="exampleCustomCheckbox{{ i }}"></label>
                    </div>
                  </td>
                  <td class="text-center">{{ i + 1 + (filterCategory.page - 1) * filterCategory.size }}</td>
                  <td class="break-word-table">{{ category.name }}</td>
                  <td class="break-word-table text-end">{{ category.productCount }}</td>
                  <td class="break-word-table">{{ category.description }}</td>
                  <td>
                    <div class="list-action">
                      <i
                        class="fa-solid fa-pen-to-square"
                        ngbTooltip="{{ 'global.button.edit' | translate }}"
                        (click)="onCategoryUpdate(category)"
                        *jhiHasAnyAuthority="authorGroupUPDATE"
                      ></i>
                      <i
                        class="fa-solid fa-trash-can"
                        ngbTooltip="{{ 'global.button.delete' | translate }}"
                        (click)="onConfirmDeleteCategory(category)"
                        *jhiHasAnyAuthority="authorGroupDELETE"
                      ></i>
                      <!--                      <i class="fa-solid fa-ellipsis-vertical"></i>-->
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
            <tbody *ngIf="totalItems === 0">
              <tr class="table-not-data">
                <td colspan="8">
                  <span jhiTranslate="easyPos.product.info.notData"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="group-page-size">
    <div class="from-pagination d-flex justify-content-center" *ngIf="totalItems > 0">
      <ngb-pagination
        class="pagination"
        [collectionSize]="totalItems || 0"
        [pageSize]="filterCategory.size"
        [page]="filterCategory.page"
        aria-label="Default pagination"
        [directionLinks]="true"
        [maxSize]="5"
        (pageChange)="loadMore($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
