.confirm-dialog {
  box-shadow: 1px 1px 2px 5px #e1e1e1;
}
.label-info {
  font-weight: 600;
  color: #0074BD;
  font-size: 16px;
}
.value-info {
  font-weight: 700;
  color: #0074BD;
  font-size: 16px;
}
