<div class="modal-header d-flex justify-content-center position-relative">
  <h5 class="modal-title" jhiTranslate="password.title">Đặt lại mật khẩu của bạn</h5>
  <button
    type="button"
    class="btn-close position-absolute"
    style="top: 23px; right: 15px"
    (click)="dismiss()"
    aria-label="Close"
    name="btnCloseCheckModal"
  ></button>
</div>
<div style="padding-inline: 32px; padding-bottom: 32px; padding-top: 20px">
  <div class="d-flex justify-content-center">
    <div style="width: 100%" *ngIf="lastUser as account">
      <!--      <h2 jhiTranslate="password.title" [translateValues]="{ username: account.fullname }">-->
      <!--        Password for <strong>{{ account.fullname }}</strong>-->
      <!--      </h2>-->

      <!--      <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">-->
      <!--        <strong>Mật khẩu đã được thay đổi</strong>-->
      <!--      </div>-->

      <!--      <div class="alert alert-danger" *ngIf="error" jhiTranslate="password.messages.error">-->
      <!--        &lt;!&ndash;        <strong>An error has occurred!</strong> The password could not be changed.&ndash;&gt;-->
      <!--        <strong>Có lỗi đã xảy ra!</strong> Mật khẩu có thể không được đổi.-->
      <!--      </div>-->

      <!--      <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">-->
      <!--        Phần mật khẩu và xác nhận lại mật khẩu không khớp!-->
      <!--        &lt;!&ndash;        The password and its confirmation do not match!&ndash;&gt;-->
      <!--      </div>-->

      <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
        <div class="mb-3 position-relative">
          <label class="form-label" for="currentPassword">Mật khẩu hiện tại</label>
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            class="form-control"
            id="currentPassword"
            name="currentPassword"
            placeholder="Nhập mật khẩu hiện tại"
            formControlName="currentPassword"
            data-cy="currentPassword"
          />
          <div (click)="passwordVisible = !passwordVisible" class="position-absolute cursor-pointer" style="top: 34px; right: 10px">
            <span *ngIf="passwordVisible" [innerHTML]="ICON_PASSWORD_VISIBLE | safeHtml"></span>
            <span *ngIf="!passwordVisible" [innerHTML]="ICON_PASSWORD_INVISIBLE | safeHtml"></span>
          </div>
          <div
            *ngIf="
              passwordForm.get('currentPassword')!.invalid &&
              (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('currentPassword')?.errors?.required"
              jhiTranslate="global.messages.validate.currentpassword.required"
            >
              Nhập mật khẩu của bạn.
              <!--              Your password is required.-->
            </small>
            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('currentPassword')?.errors?.minlength"
              jhiTranslate="global.messages.validate.currentpassword.minlength"
            >
              Mật khẩu của bạn phải tối thiểu 6 kí tự.
              <!--              Your password is required to be at least 6 characters.-->
            </small>

            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('currentPassword')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.currentpassword.maxlength"
            >
              Mật khẩu của bạn không nhiều hơn 50 kí tự.
            </small>
          </div>
        </div>

        <div class="mb-3 position-relative">
          <!--          <label class="form-label" for="newPassword" jhiTranslate="global.form.newpassword.label">New password</label>-->
          <label class="form-label" for="newPassword" jhiTranslate="global.form.newpassword.label">Mật khẩu mới</label>
          <input
            [type]="newPasswordVisible ? 'text' : 'password'"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
            formControlName="newPassword"
            data-cy="newPassword"
          />
          <div (click)="newPasswordVisible = !newPasswordVisible" class="position-absolute cursor-pointer" style="top: 34px; right: 10px">
            <span *ngIf="newPasswordVisible" [innerHTML]="ICON_PASSWORD_VISIBLE | safeHtml"></span>
            <span *ngIf="!newPasswordVisible" [innerHTML]="ICON_PASSWORD_INVISIBLE | safeHtml"></span>
          </div>
          <div
            *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('newPassword')?.errors?.required"
              jhiTranslate="global.messages.validate.newpassword.required"
            >
              Nhập mật khẩu của bạn.
              <!--              Your password is required.-->
            </small>

            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
              jhiTranslate="global.messages.validate.newpassword.minlength"
            >
              Mật khẩu của bạn phải tối thiểu 6 kí tự.
              <!--              Your password is required to be at least 6 characters.-->
            </small>

            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.newpassword.maxlength"
            >
              Mật khẩu của bạn không nhiều hơn 50 kí tự.
            </small>
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label class="form-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</label>
          <input
            [type]="confirmPasswordVisible ? 'text' : 'password'"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
            formControlName="confirmPassword"
            data-cy="confirmPassword"
          />
          <div
            (click)="confirmPasswordVisible = !confirmPasswordVisible"
            class="position-absolute cursor-pointer"
            style="top: 34px; right: 10px"
          >
            <span *ngIf="confirmPasswordVisible" [innerHTML]="ICON_PASSWORD_VISIBLE | safeHtml"></span>
            <span *ngIf="!confirmPasswordVisible" [innerHTML]="ICON_PASSWORD_INVISIBLE | safeHtml"></span>
          </div>
          <div
            *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
              jhiTranslate="global.messages.validate.confirmpassword.required"
            >
              Bắt buộc nhập
            </small>

            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
              jhiTranslate="global.messages.validate.confirmpassword.minlength"
            >
              Mật khẩu xác nhận của bạn phải tối thiểu 6 kí tự.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.confirmpassword.maxlength"
            >
              Mật khẩu xác nhận của bạn không nhiều hơn 50 kí tự.
            </small>
          </div>
        </div>
        <div style="margin-bottom: 7px">
          <input type="checkbox" id="optionLogout" name="optionLogout" formControlName="optionLogoutControl" />
          <label for="optionLogout">Đăng xuất các thiết bị khác</label>
        </div>
        <button type="submit" [disabled]="passwordForm.invalid || isLoading" class="btn btn-primary" data-cy="submit" style="width: 100%">
          <!--          <i class="far fa-floppy-disk"></i>-->
          <span *ngIf="translateService.currentLang == 'vi'">Đổi mật khẩu</span>
          <span *ngIf="translateService.currentLang == 'en'">Đổi mật khẩu</span>
        </button>
      </form>
    </div>
  </div>
</div>
