<div
  [ngClass]="{
    'pos-mobile-sidebar-toggled': posMobileSidebarToggled
  }"
  class="pos pos-customer overflow-x-hidden"
  id="pos-customer"
>
  <ng-container *ngIf="orderSelected">
    <div class="pos-menu">
      <div class="nav-container">
        <perfect-scrollbar class="h-100">
          <ul class="nav nav-tabs">
            <li (click)="routerHome()" class="nav-item">
              <a [class.active]="true" class="nav-link"> Back </a>
            </li>
          </ul>
        </perfect-scrollbar>
      </div>
    </div>
    <div class="row right-content">
      <div class="d-flex justify-content-between align-items-start row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-8 col-xxl-8 wrap-right-content"
             style="flex-direction: column; display: flex;height: 100%;">
          <ul class="nav nav-tabs">
            <li class="nav-item d-flex">
              <a
                (click)="menuType = 0"
                [ngClass]="menuType === 0 ? 'active' : ''"
                class="nav-link"
                data-bs-toggle="tab"
                href="#default-tab-1"
              >
                <span class="d-sm-none">Tab 1</span>
                <span class="d-sm-block d-none">
                  <img class="img-icon" src="/assets/img/pos/logo.svg" />
                  Thực đơn</span
                >
              </a>
              <a
                (click)="menuType = 1"
                [ngClass]="menuType === 1 ? 'active' : ''"
                class="nav-link"
                data-bs-toggle="tab"
                href="#default-tab-1"
              >
                <span class="d-sm-none">Tab 1</span>
                <span class="d-sm-block d-none">
                  <i class="fa-regular fa-message" style="font-size: 25px;"></i>
                  Trò chuyện</span
                >
              </a>
            </li>
            <div *ngIf="menuType==0" class="form-group d-flex col-4 ms-auto p-2px">
              <form class="nosubmit">
                <input [formControl]="query" class="nosubmit search-header" placeholder="Tìm món (F3)..."
                       type="search" />
              </form>
            </div>
          </ul>
          <div class="row col-12 tab-content-right panel rounded-0 pt-3 pb-3 m-0"
               style="flex-direction: column; display: flex;flex-grow: 1;">
            <div *ngIf="menuType === 0" class="tab-pane fade active show" id="default-tab-1">
              <div class="pos-content overflow-hidden">
                <perfect-scrollbar class="mb-xs-1 mb-sm-1 mb-md-1 mb-lg-1 mb-xl-3 mb-xxl-3">
                  <div (scroll)="loadMore($event)" class="product-row d-flex flex-wrap">
                    <div (click)="addProduct()"
                         class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 wrap-product-container">
                      <div class="pos-stock-product add-product">
                        <div class="pos-stock-product-container panel-border cursor-pointer">
                          <div class="add-product-icon">
                            <div class="background-product-icon">
                              <i _ngcontent-veq-c152="" class="fa fa-plus"></i>
                            </div>
                          </div>
                          <div class="add-product">Thêm sản phẩm</div>
                        </div>
                      </div>
                    </div>
                    <div
                      (click)="checkVatProduct(product)"
                      *ngFor="let product of listProduct"
                      class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 wrap-product-container"
                    >
                      <div class="pos-stock-product">
                        <div class="pos-stock-product-container panel-border">
                          <div class="product">
                            <div class="product-img">
                              <div
                                [class.img-icon]="!product.imageUrl"
                                [style.background-image]="
                                  'url(' + (product.imageUrl ? product.imageUrl : 'content/icon/san-pham/products.svg')
                                "
                                class="img"
                              ></div>
                            </div>
                            <div class="product-info">
                              <div class="title">{{ product.name }}</div>
                              <div *ngIf="product.salePrice != null"
                                   class="title">{{ product.salePrice | numberFormat }} đ
                              </div>
                              <div
                                class="collapse-text">{{ product.description ? product.description : 'Chưa có mô tả' }}
                              </div>

                              <div class="product-option">
                                <div *ngIf="product.inventoryCount != null" class="option">
                                  <div class="option-label">Kho:</div>
                                  <div class="font-weight-bold">{{ product.inventoryCount | numberFormat }}</div>
                                </div>
                                <div *ngIf="product.unit != null" class="option">
                                  <div class="option-label">Đơn vị:</div>
                                  <div class="font-weight-bold collapse-text">{{ product.unit }}</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="loading" class="wrap-spinner">
                      <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </div>
                </perfect-scrollbar>
              </div>
            </div>
            <div *ngIf="menuType === 1" class="tab-pane fade active show"
                 style="flex-direction: column; display: flex;height: 100%;">
              <div class="position-relative flex-grow-1 message-overflow-container" style="flex-grow: 1">
                <div class="chat-messages p-4">
                  <ng-container *ngFor="let mes of receivedMessages">
                    <div
                      [ngClass]="{ 'chat-message-right': mes.type!=1, 'chat-message-left':mes.type==1 }"
                      class="pb-4">
                      <div>
                        <img
                          [src]="mes.type==1?'../assets/img/user/customer.jpg':'../assets/img/user/user-13.jpg'"
                          alt="Chris Wood"
                          class="rounded-circle mr-1" height="40" width="40">
                        <!--                        <div class="text-muted small text-nowrap mt-2">2:33 am</div>-->
                      </div>
                      <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                        <div *ngIf="mes.type==1" class="font-weight-bold mb-1"> Bàn {{ mes.tableId }}</div>
                        <div *ngIf="mes.type!=1"
                             class="font-weight-bold mb-1">You
                        </div>
                        {{ mes.content }}
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="flex-grow-0 py-3 px-4 border-top">
                <div class="input-group">
                  <input (keyup.enter)="onSendMessage()" [(ngModel)]="message" class="form-control"
                         placeholder="Type your message"
                         type="text">
                  <button (click)="onSendMessage()" class="btn btn-primary">Send</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 pos-sidebar" id="pos-sidebar">
          <div class="pos-sidebar-nav">
            <div class="btn-group me-1 mb-1 w-100 h-55px">
              <a
                aria-expanded="false"
                class="area btn btn-default dropdown-toggle d-flex justify-content-between"
                data-bs-toggle="dropdown"
              >
                <div class="d-flex">
                  <img class="img-icon h-30px" src="/assets/img/pos/icon-table.svg" />
                </div>
                <div class="d-flex">
                  <i class="fa fa-caret-down p-6px"></i>
                </div>
              </a>
              <div *ngIf="!idOrderSelected" class="dropdown-menu dropdown-menu-end">
                <ng-container *ngFor="let order of listOrder">
                  <ng-container *ngIf="order.billDate !== orderSelected.billDate">
                    <a (click)="changeOrderSelected(order)" class="dropdown-item d-flex justify-content-between">
                      <div class="d-flex justify-content-start">
                        <img class="img-icon h-30px" src="/assets/img/pos/icon-table-black.svg" />
                        <span class="order">Order: <b>order.xyz</b></span>
                      </div>
                      <div class="d-flex">
                        <div class="background-icon remove-color">
                          <fa-icon (click)="removeOrderFromOrderList(order)" [icon]="'xmark'"
                                   class="padding-fa"></fa-icon>
                        </div>
                      </div>
                    </a>
                  </ng-container>
                </ng-container>
                <div class="dropdown-divider"></div>
                <div class="add-new-order">
                  <a (click)="createOrder()" class="dropdown-item">
                    <span>Tạo đơn hàng mới </span>
                    <div class="background-icon add-color">
                      <i _ngcontent-veq-c152="" class="fa fa-plus"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <ul class="nav nav-tabs nav-fill">
              <div class="row d-flex"></div>
            </ul>
          </div>

          <div>
            <div class="panel-border wrap-customer-delivery">
              <div class="customer-tax d-flex justify-content-between align-items-center mb-2">
                <div class="text col-4 d-flex align-items-center">
                  <img class="icon" src="content/icon/khach-hang/themKhachHang.svg" />Khách hàng:
                </div>
                <div class="customer-input col-8">
                  <span>Khách lẻ</span>
                </div>
              </div>

              <div class="d-flex justify-content-end align-items-center flex-wrap mb-2 mt-2">
                <div class="text delivery-title col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-4">
                  <img class="icon" src="content/icon/ban-online/vanChuyen.svg" />Kiểu giao đơn:
                </div>
                <div
                  class="delivery-type d-flex justify-content-between align-items-center flex-wrap col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-8"
                >
                  <div class="delivery-item d-flex justify-content-start align-items-center col-4">
                    <input
                      [(ngModel)]="orderSelected.deliveryType"
                      [value]="1"
                      class="me-10px"
                      id="at_table"
                      name="type_shipping"
                      type="radio"
                    />
                    <label for="at_table">Ăn tại bàn</label><br />
                  </div>
                  <div class="delivery-item d-flex justify-content-start align-items-center col-4">
                    <input
                      [(ngModel)]="orderSelected.deliveryType"
                      [value]="2"
                      class="me-10px"
                      id="get_away"
                      name="type_shipping"
                      type="radio"
                    />
                    <label for="get_away">Mang về</label><br />
                  </div>
                  <div class="delivery-item d-flex justify-content-start align-items-center col-4">
                    <input
                      [(ngModel)]="orderSelected.deliveryType"
                      [value]="3"
                      class="me-10px"
                      id="shipping"
                      name="type_shipping"
                      type="radio"
                    />
                    <label for="shipping">Giao hàng</label><br />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pos-sidebar-body h-100">
            <div class="tab-content h-100">
              <div class="tab-pane fade h-100 show active" id="newOrderTab">
                <div class="pos-table">
                  <ng-container *ngFor="let productSelected of orderSelected.products">
                    <div class="row pos-table-row panel-border">
                      <div class="col-9">
                        <div class="pos-product-thumb">
                          <div
                            [style]="{
                              'background-image':
                                'url(' +
                                (!!productSelected.imageUrl ? productSelected.imageUrl : 'content/icon/san-pham/products.svg') +
                                ')'
                            }"
                            class="img"
                          ></div>
                          <div class="info d-flex justify-content-between align-items-start flex-column">
                            <div (click)="openDiscountTaxProductComponent(productSelected)"
                                 class="title cursor-pointer">
                              {{ productSelected.productName }}
                            </div>
                            <div class="input-group quantity">
                              <div (click)="decreaseProductQuantity(productSelected)" class="input-group-item">
                                <i class="fa fa-minus"></i>
                              </div>
                              <input
                                (ngModelChange)="changeProductSelectedQuantity(productSelected)"
                                [(ngModel)]="productSelected.quantity"
                                class="form-control"
                                type="string"
                              />
                              <div (click)="increaseProductQuantity(productSelected)" class="input-group-item">
                                <i class="fa fa-plus"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-3 total-price d-flex justify-content-start align-items-end flex-column">
                        <div class="wrap-delete-icon">
                          <i
                            (click)="confirmRemoveProductSelected(productSelected)"
                            class="fa-regular fa-trash-can cursor-pointer delete-product"
                          ></i>
                        </div>
                        <div class="mb-5px mt-5px">{{ productSelected.amount | numberFormat }} đ</div>
                        <div>{{ productSelected.totalAmount | numberFormat }} đ</div>
                        <ng-container *ngIf="activeRemoveProductSelected == productSelected.productProductUnitId">
                          <div class="pos-remove-confirmation">
                            <svg
                              class="mr-2"
                              fill="currentColor"
                              height="2em"
                              viewBox="0 0 16 16"
                              width="2em"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                              />
                              <path
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                fill-rule="evenodd"
                              />
                            </svg>
                            <div class="alert">Bạn có chắc chắn muốn xóa sản phẩm?</div>
                            <a (click)="cancel()" class="btn btn-white ms-auto me-2">Hủy</a>
                            <a (click)="removeProductFromCustomerOrder(productSelected)" class="btn btn-danger">Xóa</a>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="tab-pane fade h-100" id="orderHistoryTab">
                <div class="h-100 d-flex align-items-center justify-content-center text-center p-20">
                  <div>
                    <div class="mb-3 mt-n5">
                      <svg
                        class="text-gray-300"
                        fill="currentColor"
                        height="6em"
                        viewBox="0 0 16 16"
                        width="6em"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"
                          fill-rule="evenodd"
                        />
                        <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z" />
                      </svg>
                    </div>
                    <h4>No order history found</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wrap-pos-sidebar-footer">
            <div class="pos-sidebar-footer">
              <div
                [class.justify-content-between]="posSidebarFooterStatus"
                [class.justify-content-end]="!posSidebarFooterStatus"
                class="d-flex align-items-center mb-1"
              >
                <div *ngIf="posSidebarFooterStatus">
                  <img class="icon" src="content/icon/quan-ly/coin.svg" />
                  <span class="text">Chi tiết thanh toán</span>
                </div>
                <div>
                  <i (click)="togglePosSidebarFooter()" *ngIf="posSidebarFooterStatus"
                     class="cursor-pointer fa-solid fa-chevron-down"></i>
                  <i (click)="togglePosSidebarFooter()" *ngIf="!posSidebarFooterStatus"
                     class="cursor-pointer fa-solid fa-chevron-up"></i>
                </div>
              </div>
              <ng-container *ngIf="posSidebarFooterStatus">
                <div class="d-flex justify-content-between align-items-center mb-1">
                  <span class="text">Tổng số sản phẩm</span>
                  <span class="fw-600"> {{ orderSelected.products.length }} </span>
                </div>
              </ng-container>
              <div class="d-flex justify-content-between align-items-center">
                <span class="text">Tổng tiền thanh toán </span>
                <span class="fw-600"> {{ orderSelected.totalAmount | numberFormat }} đ </span>
              </div>
            </div>
            <div class="pos-sidebar-footer">
              <div class="btn-row">
                <a (click)="openConfirmCheckoutForm()" class="btn btn-success">
                  <fa-icon [icon]="'dollar'"></fa-icon>
                  Thanh toán</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<a class="pos-mobile-sidebar-toggler" data-target="#pos-customer" data-toggle-class="pos-mobile-sidebar-toggled">
  <svg class="img" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
    <path d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"
          fill-rule="evenodd" />
    <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z" />
  </svg>
  <span class="badge">5</span>
</a>
