.icon-check {
  color: green;
}
.icon-warning {
  color: #f45424;
  font-size: 18px;
}
.confirm-messsage {
  font-size: 16px;
}
.message-info {
  padding: 0.5rem 0;
}
.form-check {
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
}
