<div class="modal-header">
  <h5 class="modal-title" jhiTranslate="{{ 'activate.model.title.' + value.title }}"></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true" (click)="decline()"></button>
</div>
<div class="modal-body">
  <label jhiTranslate="{{ 'activate.model.content.' + value.message }}"></label>
</div>
<div class="modal-footer">
  <button type="button" class="exit-button-dialog" [disabled]="loading.isLoading" (click)="accept(statusExit.NOT_SAVE)">
    <span [innerHTML]="ICON_CANCEL | safeHtml"></span>
    <span>Không lưu</span>
  </button>
  <button type="button" class="save-button-dialog" [disabled]="loading.isLoading" (click)="accept(statusExit.SAVE)">
    <span [innerHTML]="ICON_CONFIRM | safeHtml"></span>
    <span>Lưu</span>
  </button>
</div>
