<!-- BEGIN #modalPosItem -->
<div class="modal modal-pos-item">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <a (click)="closeModal()" data-bs-dismiss="modal" class="btn-close position-absolute top-0 end-0 m-4"></a>
        <div class="pos-product">
          <div class="pos-product-img">
            <div
              class="img img-product"
              [style]="{
                'background-image': 'url(' + (!!product.imageUrl ? product.imageUrl : 'content/icon/san-pham/products.svg') + ')'
              }"
            ></div>
          </div>
          <div class="pos-product-info">
            <div class="title">{{ product.name }}</div>
            <div class="desc">{{ product.description }}</div>
            <div class="price">{{ product.salePrice | numberFormat }} đ</div>
            <hr />
            <div class="option-row">
              <div class="option-title">Size</div>
              <div class="option-list">
                <div class="option">
                  <input type="radio" id="size3" name="size" class="option-input" checked />
                  <label class="option-label" for="size3">
                    <span class="option-text">Small</span>
                    <span class="option-price">+0.00</span>
                  </label>
                </div>
                <div class="option">
                  <input type="radio" id="size1" name="size" class="option-input" />
                  <label class="option-label" for="size1">
                    <span class="option-text">Large</span>
                    <span class="option-price">+3.00</span>
                  </label>
                </div>
                <div class="option">
                  <input type="radio" id="size2" name="size" class="option-input" />
                  <label class="option-label" for="size2">
                    <span class="option-text">Medium</span>
                    <span class="option-price">+1.50</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="option-row">
              <div class="option-title">Add On</div>
              <div class="option-list">
                <div class="option">
                  <input type="checkbox" name="addon[sos]" value="true" class="option-input" id="addon1" />
                  <label class="option-label" for="addon1">
                    <span class="option-text">More BBQ sos</span>
                    <span class="option-price">+0.00</span>
                  </label>
                </div>
                <div class="option">
                  <input type="checkbox" name="addon[ff]" value="true" class="option-input" id="addon2" />
                  <label class="option-label" for="addon2">
                    <span class="option-text">Extra french fries</span>
                    <span class="option-price">+1.00</span>
                  </label>
                </div>
                <div class="option">
                  <input type="checkbox" name="addon[ms]" value="true" class="option-input" id="addon3" />
                  <label class="option-label" for="addon3">
                    <span class="option-text">Mushroom soup</span>
                    <span class="option-price">+3.50</span>
                  </label>
                </div>
                <div class="option">
                  <input type="checkbox" name="addon[ms]" value="true" class="option-input" id="addon4" />
                  <label class="option-label" for="addon4">
                    <span class="option-text">Lemon Juice (set)</span>
                    <span class="option-price">+2.50</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="btn-row">
              <a (click)="closeModal()" class="btn btn-default" data-bs-dismiss="modal">Thoát</a>
              <a (click)="addToCart()" class="btn btn-success">Thêm vào đơn hàng <i class="fa fa-plus fa-fw ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END #modalPosItem -->
