a.nav-link {
  min-width: 100px;
  display: flex;
  justify-content: center;
}
:host::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 40px;
  border-color: #58647a;
}
.break-word-table {
  word-wrap: break-word;
}
.panel-custom {
  margin-top: 24px;
}
.disabled {
  opacity: 0.6;
}
.panel {
  margin-bottom: 0 !important;
}
.table {
  margin-bottom: 0 !important;
}
.tab-pane {
  box-shadow: 0px 4px 5px 0px #0074bd26;
}
.panel-action {
  box-shadow: 0px 4px 5px 0px #0074bd26;
}
.footer-table {
  position: sticky;
  z-index: 1;
  bottom: -1px;
  background-color: #d9eaf5;
}
.footer-content {
  color: #004671;
}
.table-header-sticky {
  position: sticky;
  top: -1px;
  z-index: 0;
}
