<!-- BEGIN #header -->
<div id="header" [class]="'app-header ' + (sidebarOption.isShow ? 'show-all-content' : 'mini-content')">
  <!-- BEGIN navbar-header -->
  <div class="navbar-header">
    <button
      type="button"
      class="navbar-desktop-toggler"
      data-toggle="app-sidebar-minify"
      *ngIf="this.appSidebarTwo"
      (click)="toggleAppSidebarNone()"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a routerLink="index.html" class="navbar-brand">
      <img src="/content/img/logo/logo2.png" alt="EasyPos" />
    </a>
    <button type="button" class="navbar-mobile-toggler" data-bs-toggle="collapse" data-bs-target="#top-navbar">
      <span class="fa-stack fa-lg">
        <i class="far fa-square fa-stack-2x"></i>
        <i class="fa fa-cog fa-stack-1x mt-1px"></i>
      </span>
    </button>
    <button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- END navbar-header -->
  <!-- BEGIN navbar-collapse -->
  <div class="collapse d-md-block me-auto" id="top-navbar">
    <div class="navbar-nav"></div>
  </div>
  <!-- END navbar-collapse -->

  <!-- BEGIN header-nav -->
  <div class="navbar-nav" style="justify-content: right">
    <div class="navbar-item navbar-user dropdown">
      <a routerLink="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
        <img src="../assets/img/user/user-13.jpg" alt="" />
        <span class="d-none d-md-inline">{{ lastUser!.fullname }}</span> <b class="caret ms-lg-2"></b>
      </a>
      <div class="dropdown-menu dropdown-menu-end me-1">
        <a routerLink="extra_profile.html" class="dropdown-item">Edit Profile</a>
        <a routerLink="email_inbox.html" class="dropdown-item d-flex align-items-center">
          Inbox
          <span class="badge bg-danger rounded-pill ms-auto pt-5px">2</span>
        </a>
        <a routerLink="calendar.html" class="dropdown-item">Calendar</a>
        <a routerLink="settings.html" class="dropdown-item">Settings</a>
        <a (click)="getLink('password')" class="dropdown-item" jhiTranslate="password.changepassword.navbar">Change Password</a>
        <div class="dropdown-divider"></div>
        <a (click)="logout()" class="dropdown-item">Log Out</a>
      </div>
    </div>
  </div>
  <!-- END header-nav -->
</div>
<!-- END #header -->
