<!-- BEGIN #header -->
<div [class]="'app-header ' + (sidebarOption.isShow ? 'show-all-content' : 'mini-content')" id="header">
  <!-- BEGIN navbar-header -->
  <div class="navbar-header">
    <button
      (click)="toggleAppSidebarNone()"
      *ngIf="this.appSidebarTwo"
      class="navbar-desktop-toggler"
      data-toggle="app-sidebar-minify"
      type="button"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" routerLink="index.html">
      <img alt="EasyPos" src="/content/img/logo/logo2.png" />
    </a>
    <button class="navbar-mobile-toggler" data-bs-target="#top-navbar" data-bs-toggle="collapse" type="button">
      <span class="fa-stack fa-lg">
        <i class="far fa-square fa-stack-2x"></i>
        <i class="fa fa-cog fa-stack-1x mt-1px"></i>
      </span>
    </button>
    <button class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- END navbar-header -->
  <!-- BEGIN navbar-collapse -->
  <div class="collapse d-md-block me-auto" id="top-navbar">
    <div class="navbar-nav"></div>
  </div>
  <!-- END navbar-collapse -->

  <!-- BEGIN header-nav -->
  <div class="navbar-nav" style="justify-content: right">
    <div class="navbar-item navbar-user dropdown">
      <a class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" routerLink="#">
        <img alt="" src="../assets/img/user/user-13.jpg" />
        <span class="d-none d-md-inline">{{ lastUser?.fullname }}</span> <b class="caret ms-lg-2"></b>
      </a>
      <div class="dropdown-menu dropdown-menu-end me-1">
        <a class="dropdown-item" routerLink="extra_profile.html">Edit Profile</a>
        <a class="dropdown-item d-flex align-items-center" routerLink="email_inbox.html">
          Inbox
          <span class="badge bg-danger rounded-pill ms-auto pt-5px">2</span>
        </a>
        <a class="dropdown-item" routerLink="calendar.html">Calendar</a>
        <a class="dropdown-item" routerLink="settings.html">Settings</a>
        <a (click)="getLink('password')" class="dropdown-item" jhiTranslate="password.changepassword.navbar">Change
          Password</a>
        <div class="dropdown-divider"></div>
        <a (click)="logout()" class="dropdown-item">Log Out</a>
      </div>
    </div>
  </div>
  <!-- END header-nav -->
</div>
<!-- END #header -->
