.select-value {
  &:hover {
    background-color: #e8e8e8;
    border-opacity: 0.4;
  }
}

.input-group {
  input {
    text-align: center;
  }
}

input[type='radio'] {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

input[type='checkbox'],
.fa {
  cursor: pointer;
}

.qty {
  border: 1px solid rgba(15, 214, 228, 0.801);
  border-radius: 5px;
  padding: 0 5px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  width: 80px !important;
  margin: 5px 0;

  i {
    color: var(--bs-orange);
  }

  .form-control {
    height: 22px !important;
  }
}
.item-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.item-radio input {
  margin-right: 10px;
}
.body-print {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
}
.from-content {
  height: 100%;
  overflow: auto;
  h3 {
    text-align: center;
    color: #1976c2;
  }
}

.orange-color {
  color: rgb(245, 170, 31);
  font-size: 18px;
}
.input-name {
  border: none;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.5s linear;
}
.input-name:focus {
  .icon-edit {
    display: block;
  }
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #58647a;
}
.icon-edit {
  display: none;
  border-bottom: 1px solid #9ba3b1;
}
.print-from-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 1px 4px;
  border: 1px solid #b0d4eb;
}
.print-config-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .print-config-item {
    min-width: 70px;
    display: flex;
  }
}
.print-from-content:hover {
  .icon-edit {
    display: block;
  }
}
.print-content {
  display: flex;
  align-content: center;
}
.print-content:hover {
  .icon-edit {
    display: block;
  }
}

.print-align-text {
  display: flex;
  padding: 2px;
  align-items: center;
  width: 70px;
  border-color: #b3b3b3 #ccc #d9d9d9;
  justify-content: space-between;
  height: 26px;
  .active {
    svg {
      path {
        fill: #1276b0;
        stroke: #1276b0;
      }
    }
  }

  svg {
    width: 15px;
    height: 15px;
  }

  div:hover {
    background: #f5f5f5;
    cursor: pointer;
  }
}
.custom-hr-print {
  border-bottom: 1px solid #d9d9d9;
}

.active-print {
  border-bottom: 2px solid #0074bd;
}
