@media print {
  header,
  footer {
    display: none !important;
  }
  @page {
    margin: 0 !important;
    margin-bottom: 5px;
  }
  .container-fluid {
    display: block !important;
  }
  #app {
    display: none !important;
  }
}
#print {
  padding: 16px 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #ffffff;
  //box-shadow: 0px 0px 7px #001c2e;
  border-radius: 4px;
  .layout-invoice {
    overflow: auto;
    max-height: 700px;
  }

  .wrap-invoice {
    width: 100%;
    padding: 0 30px;
  }
  .wrap-invoice-print {
    width: 100%;
    //padding-left: 5px;
    //padding-right: 5px;
  }

  .visibility-hidden {
    visibility: hidden;
  }

  .header {
    // text-align: center;
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;

    h2 {
      // font-weight: 700;
    }

    .hotline-address {
      // font-size: 1.3rem;
    }
  }

  .wrap-content-common-info {
    .item-content-common-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .customer-label,
      .customer-name {
        // font-size: 1.3rem;
      }
    }

    .product-invoice {
      width: 100%;
      .header-product-invoice {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid rgb(211, 211, 211);
        border-top: 1px solid rgb(211, 211, 211);

        div {
          text-transform: capitalize;
        }

        .amount {
          text-align: end;
        }
      }

      .content-product-invoice {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(211, 211, 211);
        div {
          display: block;
        }
        .right-content-product {
          text-align: end;
        }
      }
    }

    .wrap-amount-invoice {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .footer {
    text-align: center;

    .head-footer {
      border-bottom: 1px solid rgb(211, 211, 211);
    }

    .paymentMethod {
      text-transform: uppercase;
    }

    .qrcode {
      width: 100px;
      height: 100px;
    }
  }
}

.modal-footer {
  fa-icon {
    margin-right: 5px;
  }
}
@media print {
  /* Adjust the scale as needed */
  body {
    transform: scale(0.8);
    transform-origin: top left;
  }
}
@media only screen and (max-height: 760px) {
  #print {
    .wrap-invoice {
      height: 72vh;
    }
  }
}

.modal .modal-header {
  display: flex;
  flex: 0;
  align-items: center;
}
.modal-title {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
.btn-close {
  color: #ffffff;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  font-size: 16px;
}

.modal-footer {
  height: 65px !important;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px;
  padding-right: 20px;
}
.btn-row {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 0px;
  margin-bottom: 0px;
}
.btn-success {
  background-color: #4ba158;
  color: #ffffff;
}
.save-button-dialog {
  padding: 8px 16px !important;
  min-width: 120px;
}
.modal-body {
  padding: 0 !important;
}
span {
  font-family: San Francisco Display;
}
.border-table {
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.5);
  tbody {
    tr {
      th,
      td {
        border: 1px solid rgba(0, 0, 0, 0.5) !important;
      }
    }
  }
}
