//////////////////////////////////////////////////////COLOR//////////////////////////////////////////////////////////////////////////

//  area-unit start
//màu nền của 1 khu vực
$background-list-color: var(--bs-body-bg);

//màu nền phần info của bàn đang sử dụng
$used-table-info: antiquewhite;

// màu nền phần tên của bàn đang sử dụng
$used-table-name: #f7d6af;

//  màu nền phần info của bàn không sử dụng
$unuse-table-info: #f9f9f9;

// màu nền phần tên của bàn không sử dụng
$unuse-table-name: rgb(130, 164, 233, 0.2);

//    area-unit-end
