<div class="header">
  <div>
    <h5 class="title"><span class="text-uppercase" jhiTranslate="global.commonInfo.importExcel.alert"></span></h5>
  </div>
</div>
<div
  class="row"
  style="background: #fff; padding: 15px; justify-content: center; border-bottom-left-radius: 0.3rem; border-bottom-right-radius: 0.3rem"
>
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <span style="font-size: 14px">Quá trình xử lý có thể mất nhiều thời gian, vui lòng đợi cho đến khi tiến trình kết thúc!</span>
</div>
