<ul [ngClass]="!isChildren ? 'row w-100' : ''" style="list-style: none">
  <li *ngFor="let node of tree" [ngClass]="!isChildren ? 'col-3' : ''" [style]="!isChildren ? 'margin-top: 30px !important' : ''">
    <div>
      <div class="col-custom-1 p-0 cursor-pointer" *ngIf="node.children && node.children.length">
        <span (click)="onCollapseExpand(node)">
          <i *ngIf="!node.collapsed" class="fa fa-caret-down i-caret-down"></i>
          <i *ngIf="node.collapsed" class="fa i-caret-right">&#xf0da;</i>
        </span>
      </div>
      <div>
        <div class="col-custom-1 p-0" *ngIf="!node.children || node.children.length === 0"></div>
        <div class="col-custom-23 p-0">
          <div class="custom-checkbox ml-0" style="display: flex; align-items: baseline">
            <input
              type="checkbox"
              [ngClass]="isView ? 'custom-control-input cursor-pointer input-disabled' : 'custom-control-input cursor-pointer'"
              id="{{ 'customCheck1' + node.value }}"
              [(ngModel)]="node.checked"
              (ngModelChange)="onCheck(node); updateTree()"
              [disabled]="node.disabled"
              name="{{ 'customCheck1' + node.value }}"
              style="margin-right: 5px"
            />
            <label
              [ngClass]="isView ? 'custom-control-input cursor-pointer input-disabled' : 'custom-control-input cursor-pointer'"
              for="{{ 'customCheck1' + node.value }}"
              >{{ node.text }}</label
            >
          </div>
        </div>
      </div>
      <div class="col-12 p-0">
        <jhi-tree-view-item
          *ngIf="node.children.length && !node.collapsed"
          [tree]="node.children"
          [isChildren]="true"
          [isView]="isView"
        ></jhi-tree-view-item>
      </div>
    </div>
  </li>
</ul>

<!--<style>-->
<!--  .custom-control {-->
<!--    margin-left: 1.5rem;-->
<!--  }-->
<!--</style>-->
