.confirm-otp,
.forgot-box {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 15px 0;
  height: 100%;
  box-shadow: 3px 4px 7px rgba(0, 116, 189, 0.2);
}

.forgot-box {
  padding: 15px 20px;
}

.resend-otp {
  cursor: pointer;
  color: var(--primary-blue-blue, #0074bd);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.modal-header {
  max-height: 56px;
  display: flex;
  justify-content: center;
  border: none;
  text-align: center;
}

.border-header {
  width: 85%;
  border-bottom: 1px solid #d9eaf5;
  margin-left: 7.5%;
}

.btn-close {
  color: #ffffff;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 8px;
}
.modal-title {
  font-size: 20px;
  font-weight: 700;
  color: #004671;
}
.group-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
:host::ng-deep .form-control {
  border-radius: 8px;
}
.modal-footer {
  border: none !important;
}
.btn-row {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0;
}
:host::ng-deep .btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  color: #ffffff;
  pointer-events: none;
  background-color: #1484c6;
  border-color: #1484c6;
  opacity: 0.5;
}

.text-body-modal {
  color: var(--gray-2, #58647a);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.username-label {
  color: var(--gray-2, #58647a);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.otp {
  border-radius: 2px;
  border: 1px solid var(--gray-3, #9ba3b1);
  background: rgba(213, 216, 221, 0.5);
  color: var(--primary-blue-1, #004671);
}

.resend {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2%;
}
